.headercontent {
  display: flex;
  width: 980px;
  min-width: 980px;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
}

.logo {
  margin-right: auto;
}

button {
  margin: auto 15px;
}

.avatar {
  align-content: center;
  margin-left: 15px;
}
