@import '$style/index.scss';

.header {
  border-bottom: 2px solid $border-color;

  a:link {
    color: rgb(64, 160, 139);
  }

  a:visited {
    color: rgb(64, 160, 139);
  }

  a:hover {
    color: rgb(64, 160, 139);
  }

  a:active {
    color: rgb(64, 160, 139);
  }

  .headercontent {
    display: flex;
    width: 980px;
    min-width: 980px;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    margin: auto;

    .logo {
      margin-right: auto;
      font-size: 28px;
    }

    button {
      margin: auto 15px;
    }

    .avatar {
      align-content: center;
      margin-left: 15px;
    }
  }
}
