@import '././../../style/index.scss';

.cardlist {
  padding: 20px 15px;

  .nodata {
    width: 100%;
    text-align: center;
  }
}

.articelist {
  border: 1px solid $main-color;
  background-color: $main-color;
}
